.git
.gitignore
**/scripts/run_all.ps1

**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/.venv/
**/venv/
**/venv2/
**/venv311/
**/venv3/

cpp_engine/build/
build/
cmake-build-*/
**/CMakeFiles/
**/CMakeCache.txt
**/Makefile
**/*.o
**/*.obj
**/*.exe

**/node_modules/
**/npm-debug.log

**/.DS_Store
**/Thumbs.db
**/.vscode/
**/.idea/
**/.vs/

**/.env
**/.env.*
**/secrets.dev.yaml
**/values.dev.yaml

plots/*.png
outputs/*.csv

README.md
LICENSE
Optimzations.txt
Proposed_Folder_Schema.txt

**/Dockerfile*
**/compose.y*ml
**/docker-compose*